<div
  class="container mt-5 mb-5 d-flex align-items-center justify-content-between"
>
  <div>
    <h1>Gestión de Productos</h1>
    <p class="text-muted">Administra el catálogo de productos</p>
  </div>
  <button class="btn btn-dark">
    <i class="bi bi-plus-lg"></i> <span class="mx-2"> Nuevo Producto </span>
  </button>
</div>

<div class="container">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-subtitle>
        <i class="bi bi-box me-2"></i> Productos ({{totalProducts}})
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mt-3">
      <table class="table">
  <caption>List of Products</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.category }}</td>
      <td>{{ product.price  }}</td>
      <td>{{ product.stock }}</td>
      <td>
        <button class="btn btn-sm btn-primary mx-2" (click)="editProduct(product)">Editar</button>
        <button class="btn btn-sm btn-danger" (click)="deleteProduct(product.productID)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

    </mat-card-content>
  </mat-card>
</div>
