<div
  class="container mt-5 mb-5 d-flex align-items-center justify-content-between"
>
  <div>
    <h1>Transacciones de Inventario</h1>
    <p class="text-muted">Registra y monitorea movimientos de stock</p>
  </div>
  <button class="btn btn-dark" (click)="addTransaction()">
    <i class="bi bi-plus-lg"></i>
    <span class="mx-2" > Nueva Transacción </span>
  </button>
</div>
<div class="container">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-subtitle>
        <i class="bi bi-funnel me-2"></i> Filtros Avanzados
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mt-3">
      <div class="row align-items-end mb-3">
        <div class="col-12 col-md-4">
          <label for="searchInput" class="form-label">Producto</label>
          <div class="input-group">
            <select class="form-select" id="productType" [(ngModel)]="product">
              <option value="all" selected>Todos los productos</option>
              <option *ngFor="let p of products" [value]="p.productID">
                {{ p.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <label for="searchInput" class="form-label"
            >Tipo de transacciòn</label
          >
          <div class="input-group">
            <select
              class="form-select"
              id="searchType"
              [(ngModel)]="searchType"
            >
              <option value="all" selected>Todos los tipos</option>
              <option value="Compra">Compra</option>
              <option value="Venta">Venta</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <label for="searchInput" class="form-label"></label>
          <button class="btn btn-dark" (click)="applyFilters()">Buscar</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="container mt-4">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-subtitle>
        <i class="bi bi-box me-2"></i> Transacciones ({{totalTransactions}})
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mt-3">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Detalles</th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio U.</th>
              <th scope="col">Tipo</th>
              <th scope="col">Total</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of pagedTransactions; let i = index">
              <td>{{ transaction.detail }}</td>
              <td>{{ getProductName(transaction.productID) }}</td>
              <td>{{ transaction.quantity }}</td>
              <td>{{ transaction.unitPrice }}</td>
              <td>{{ transaction.transactionType }}</td>
              <td>{{ transaction.totalPrice }}</td>
              <td>
                <button
                  class="btn btn-sm btn-primary mx-2"
                  (click)="editTransaction(transaction)"
                >
                  Editar
                </button>
                <button
                  class="btn btn-sm btn-danger"
                  (click)="deleteProduct(transaction.transactionID)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <nav class="d-flex justify-content-center mt-3">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <button
                class="page-link"
                (click)="prevPage()"
                [disabled]="currentPage === 1"
              >
                Anterior
              </button>
            </li>
            <li class="page-item disabled">
              <span class="page-link"
                >Página {{currentPage}} de {{totalPages}}</span
              >
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <button
                class="page-link"
                (click)="nextPage()"
                [disabled]="currentPage === totalPages"
              >
                Siguiente
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </mat-card-content>
  </mat-card>
</div>
